*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Shizuru', cursive;
    src: url(fonts/Shizuru-Regular.ttf);
}

body{
    background-color: #e0c9a6;
}

h1{
    font-family: 'Shizuru', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 5px;
}

div#grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

p#id{
    display: none;
}

form label{
    font-size: 20px;
    text-shadow: 1px 1px 5px;
}

form#myform input[type = "text"] {
    padding: 10px;
    width: 300px;
}

form#myform input {
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px;
}

input[type="submit"] {
    margin-left: 250px;
    padding: 10px;
    border-radius: 5px;
}

img#img, img#imgmeme{
    box-shadow: 15px 15px 15px;
    margin-bottom: 30px;
}

a#download{
    text-decoration: none;
    font-size: 20px;
    display: none;
    border: 1px solid black;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
}
